<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Tarefas</title>
<script src="scripts/jquery-2.1.4.js"></script>
<script src= "scripts/jquery-serialization.js"></script>
<script src= "scripts/tasks-controller.js"></script>
<script src= "scripts/jquery.validate.js"></script>
<script src= "scripts/jquery.tmpl.js"></script>
<script src= "scripts/date.js"></script>
<script src= "scripts/tasks-indexeddb.js"></script>

<link rel="stylesheet" type="text/css" href="styles/02-tasks.css" media="screen" />

</head>
<body>
	<header>
		<span>Lista de Tarefas</span>
	</header>
	<main id="taskPage">
		<section id="taskCreation" class="not">
			<form id="taskForm">
				<div>
					<label>Tarefa</label> 
					<input type="hidden" name="id" />
					<input type="text" required="required" name="task" class="large" placeholder="Estudar e programar"  maxlength="200"/>
				</div>
				<div>
					<label>Finalizar até</label> <input type="date" required="required" name="requiredBy" />
				</div>
				<div>
					<label>Categoria</label> 
					<select name="category">
						<option value="Pessoal">Pessoal</option>
						<option value="Profissional">Profissional</option>
					</select>
				</div>
				<nav>
					<a href="#" id="saveTask" >Salvar tarefa</a> <a href="#" id="clearTask">Limpar tarefa</a>
				</nav>
			</form>
		</section>
		<section >
			<table id="tblTasks">
							  <colgroup>
					<col width="40%">
					<col width="15%">
					<col width="15%">
					<col width="30%">
				</colgroup>
				</colgroup>
				<thead>
					<tr>
						<th>Nome</th>
						<th>Deadline</th>
						<th>Categoria</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
			<!--<tr>
						<td>Devolver livros emprestados</td>
						<td><time datetime="2015-10-14">2015-10-14</time></td>
						<td>Pessoal</td>
						<td>
								<nav>
									<a href="#" class="editRow">Editar</a>
									<a href="#" class="completeRow">Completar</a>
									<a href="#" class="deleteRow" >Deletar</a>
								</nav>
							</td>
					</tr>
					<tr class="even">
						<td>Apresentar projeto para os clientes</td>
						<td><time datetime="2015-10-14">2015-10-14</time></td>
						<td>Profissional</td>
						<td>
							<nav>
								<a href="#" class="editRow">Editar</a>
								<a href="#" class="completeRow">Completar</a>
								<a href="#" class="deleteRow" >Deletar</a>
							</nav>
						</td>
					</tr>
					<tr>
						<td>Encontrar o pessoal para happy hour</td>
						<td><time datetime="2015-10-14">2015-10-14</time></td>
						<td>Pessoal</td>
						<td>
							<nav>
								<a href="#" class="editRow">Editar</a>
								<a href="#" class="completeRow">Completar</a>
								<a href="#" class="deleteRow" >Deletar</a>
							</nav>
						</td>
					</tr>
					-->
				</tbody>
			</table>
			<nav>
				<a href="#" id="btnAddTask">Adicionar tarefa</a>
			</nav>
		</section>
	</main>
<footer>Você tem <span id="taskCount"></span> tarefas</footer>
</body>

<script>
	function initScreen() {
		$(document).ready(function() {
			tasksController.init($('#taskPage'), function() {
				tasksController.loadTasks();
			});		
		});
	}
	if (window.indexedDB) { 
		$.getScript( "scripts/tasks-indexeddb.js" )
		.done(function( script, textStatus ) {
			initScreen();
		})
		.fail(function( jqxhr, settings, exception ) {
			console.log( 'Falha ao carregar indexeddb' );
		});
		} else if (window.localStorage) {
			$.getScript( "scripts/tasks-webstorage.js" )
			.done(function( script, textStatus ) {
				initScreen();
			})
			.fail(function( jqxhr, settings, exception ) {
				console.log( 'Falha ao carregar webstorage' );
			});
		}
</script>

<script id="taskRow" type="text/x-jQuery-tmpl">

<tr>
<td {{if complete ==
true}}class="taskCompleted"{{/if}}>${task}</td>
<td {{if complete ==
true}}class="taskCompleted"{{/if}}><time
datetime="${requiredBy}">${requiredBy}</time>
</td>
<td {{if complete ==
true}}class="taskCompleted"{{/if}}>${category}
</td>
<td>
<nav>
{{if complete != true}}
<a href="#" class="editRow" data-task-id="${id}">Editar</a>
<a href="#" class="completeRow" data-task-id="${id}">Completar</a>
{{/if}}

<a href="#" class="deleteRow" data-task-id="${id}">Deletar</a>
</nav>
</td>
</tr>
</script>

</html>
